@font-face {
    font-family: Jost;
    src: url(../fonts/Jost/static/Jost-Regular.ttf);
}
@font-face {
    font-family: Jost-Bold;
    src: url(../fonts/Jost/static/Jost-Bold.ttf);
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: radial-gradient(circle at top, #1b2735 0%, #090a0f 100%);
    color: white;
    font-family: 'Orbitron', Arial, sans-serif;
    overflow: hidden;
    font-family: Jost;
}

h1 {
    font-size: 3rem;
    letter-spacing: 3px;
    margin-bottom: 40px;
    text-shadow: 0 0 10px #4fc3f7, 0 0 20px #4fc3f7;
}

div {
    display: flex;
    gap: 20px;
}

button {
    padding: 15px 30px;
    font-size: 1.1rem;
    color: white;
    background: transparent;
    border: 2px solid #4fc3f7;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;

    box-shadow: 0 0 10px rgba(79, 195, 247, 0.6);
    transition: all 0.3s ease;
}

button:hover {
    background: #4fc3f7;
    color: #090a0f;
    box-shadow: 0 0 20px #4fc3f7, 0 0 40px #4fc3f7;
    transform: translateY(-5px);
}

#homeButton {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background: transparent;
    border: 2px solid #4fc3f7;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 0 10px rgba(79, 195, 247, 0.6);
    transition: all 0.3s ease;
}

#homeButton:hover {
    background: #4fc3f7;
    color: #090a0f;
    box-shadow: 0 0 20px #4fc3f7, 0 0 40px #4fc3f7;
    transform: translateY(-3px);
}
