@font-face {
    font-family: Jost;
    src: url(../fonts/Jost/static/Jost-Regular.ttf);
}
@font-face {
    font-family: Jost-Bold;
    src: url(../fonts/Jost/static/Jost-Bold.ttf);
}

body {
    background-image:url("../fotos/Mars\ image.jpg");
    font-family: Jost;
    color: white;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
    font-family: Jost-Bold;
}

.links a {
    display: inline-block;
    text-decoration: none;
    color: white;
    width: 100px;
    height: 20px;
    padding: 15px 0px 17px 0px;
    margin: 10px 30px 20px 30px;
    border-radius: 20px;
    transition: 0.8s;
    border: solid 5px rgb(255, 102, 0, 0.9);
}

.links a:hover {
    transform: scale(1.3);
    transition: 0.3s;
    box-shadow: 0px 0px 10px 5px rgb(255, 102, 0);
}