@font-face {
    font-family: Jost;
    src: url(../fonts/Jost/static/Jost-Regular.ttf);
}

@font-face {
    font-family: Jost-Bold;
    src: url(../fonts/Jost/static/Jost-Bold.ttf);
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Jost, Arial, sans-serif;
    color: white;

    background-color: black;
    background-image:
        radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
        radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
        radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
        radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.content {
    max-width: 900px;
    padding: 80px 20px 40px;
    margin: 0 auto;
}

.page-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
    font-family: Jost-Bold;
}

.person {
    margin-bottom: 40px;
}

.person h1 {
    font-size: 26px;
    margin-bottom: 10px;
}

.person p {
    font-size: 18px;
    line-height: 1.6;
}

.home-btn {
    position: fixed;
    top: 20px;
    left: 20px;

    background: none;
    border: 3px solid rgba(255, 102, 0, 0.9);
    color: white;

    font-size: 22px;
    font-family: Jost-Bold;

    padding: 10px 25px;
    border-radius: 15px;

    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home-btn:hover {
    transform: scale(1.15);
    box-shadow: 0 0 10px 4px rgb(255, 102, 0);
    text-decoration: underline;
}
