@font-face {
    font-family: Jost;
    src: url(../fonts/Jost/static/Jost-Regular.ttf);
}
@font-face {
    font-family: Jost-Bold;
    src: url(../fonts/Jost/static/Jost-Bold.ttf);
}

.home {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-family: Jost-Bold;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 143, 68);
}


body {
    background: 
        linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url("../fotos/Mars image.jpg") center / cover no-repeat fixed;
    /* background-image:url("../fotos/Mars\ image.jpg"); */
    font-family: Jost;
    color: white;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
    font-family: Jost-Bold;
}

table {
    font-size: 22px;
    width: 350px;
}

h3 {
    font-family: Jost-Bold;
    margin-bottom: 0px;
    color: rgb(255, 143, 68);
    font-size: 25px;
}

img {
    width: 1000px;
    height: 562.5px;
    margin: 220px 0px 0px 50px;
    display: flex;
    box-shadow: 0px 0px 10px 5px rgb(255, 102, 0);
}

h2 {
    /* margin: -20px 0px 0px 20px; */
    font-size: 50px;
    text-shadow: 3px 3px 5px black;
    color: rgb(255, 255, 255);
}

#HP_title {
    font-size: 48px;
}

.align_image_h2>div>p {
    /* padding: 640px 500px 40px 20px; */
    margin-bottom: -10px;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 50px 1px black;
}

.align_image_h2>div {
    padding: 180px 400px 0px 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    
}

.align_image_h2 {
    display: flex;
}

/* .align_image_h2 {
    display: grid;
    grid-template-areas: 
    "";
    grid-template-columns: auto auto auto;
}

.align_image_h2 img.image_lost_in_space {
    grid-area: image_side;
} */
 