@font-face {
    font-family: Jost;
    src: url(../fonts/Jost/static/Jost-Regular.ttf);
}
@font-face {
    font-family: Jost-Bold;
    src: url(../fonts/Jost/static/Jost-Bold.ttf);
}

.home {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-family: Jost-Bold;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(255, 102, 0, 0.9);
}

body {
    background: 
        linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url("../fotos/Mars image.jpg") center / cover no-repeat fixed;
    /* background-image:url("../fotos/Mars\ image.jpg"); */
    font-family: Jost;
    color: white;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
    font-family: Jost-Bold;
}

.items a {
    background-color: rgba(0, 0, 0, 0.3);
    display: inline-block;
    text-decoration: none;
    font-size: 30px;
    color: white;
    width: 340px;
    height: 150px;
    padding: 120px 0px 17px 0px;
    margin: 100px 40px 20px 40px;
    border-radius: 20px;
    transition: 0.8s;
    border: solid 5px rgb(255, 102, 0, 0.9);
}

.items a:hover {
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0px 0px 16px 8px rgb(255, 102, 0);
}