h1 {
    color: white;
    text-align: center;

}

.Navigatie1 {
    display: flex;
    flex-direction: row;
    gap: 20%;
    justify-content: center;
}

.Navigatie1 button {
    transform: scale(600%);
    border: 2px solid white;
    border-radius: 2%;
    background-color: #00389F;
    opacity: 0.9;
}

.Navigatie2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 18%;
}

.Navigatie2 button {
    transform: scale(600%);
    border: 2px solid white;
    border-radius: 2%;
    background-color: #00389F;
    opacity: 0.9;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.bg-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
}
